# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment
.env
.venv/
env/
venv/

# Python virtual environment
*.egg-info/
*.egg
*.log

# VSCode
.vscode/

# Mac
.DS_Store

# Model and data files
*.pkl
*.joblib
